.button-next-quote {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 0.7em 2em 0.7em 2em;
    border-radius: 10px;
    font-size: 1em;
    background-image: linear-gradient(45deg, #25d9c8, #2abed9);
    border: none;
}

