.display-num-quote {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #ff6da2; 
    padding: 0.7em 2em 0.7em 2em;
    border-radius: 10px;
    font-size: 1em;
    background-image: linear-gradient( 45deg, #c4fd5a, #fafd5a);
    border: none;
}

