.container-photo{
    width: 60%;
    margin: auto;
    height: auto;
    margin-top: 15vh;
    margin-bottom: 10vh;
    transform: rotate(180deg);
}

.dictator-gif{
    display: inline-block;
    width: 33%;
    color: #000000;
    text-align: center;
}

img{ 

    background-color: #ffffff;
    width: 180px;
    height:180px;
    margin: auto;
    box-shadow: 5px -5px 3px #23bbad;
}


